* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-green-color: #6E9277;
    --main-light-blue-color: #f7fef8;
    --main-azure-color: #EAF4F4;
    --main-brown-color: #65524D;
    --main-red-color: #d96352;
    --main-font-color-black: #1a1716;
    --main-green: #699874;
    
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body {
    background-color: var(--main-light-blue-color);
    font-family: "Roboto Flex", sans-serif;
    color: var(--main-font-color-black);
}


/* HEADER */

header {
    position: fixed;
    margin-top: -130px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(circle,rgba(101, 82, 77, 1) 0%, rgba(84, 68, 64, 1) 100%);
    padding: 10px 15% 5px 20%;
    font-size: 1.2rem;
    width: 100vw;
    height: 60px;
}

.logo {
    width: 100px;
}

.nav-header {
    display: flex;
    list-style: none;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.nav-header a {
    color: #cbcdcd;
    padding: 8px 15px;
    border-radius: 15px;
    border: rgba(255, 255, 255, 0) solid 1px;
}

.nav-header a:hover {
    background: radial-gradient(circle,rgba(0, 0, 0, 0) 28%, rgba(237, 237, 237, 0.32) 100%);
    border: rgba(234, 234, 234, 0.811) solid 1px;
    color: var(--main-azure-color);
    transition: all 0.2s ease-out;
}



.nav-categories {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    padding: 0 50px;
    border-bottom: 2px solid #65524d3f;
    background: var(--main-azure-color);
    background: linear-gradient(0deg,rgba(234, 244, 244, 0.71) 0%, rgba(247, 254, 248, 0.71) 100%);
}

.nav-categories li {
    text-align: center;
    padding: 10px 20px;
}

.nav-categories a:hover {
    text-decoration: underline;
    color: var(--main-brown-color);
}

header a {
    text-decoration: none;
    color: var(--main-font-color-black);
}


/* FOOTER */

footer {
    background-color: var(--main-brown-color);
    color: var(--main-light-blue-color);
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    margin-top: 50px;
}


/* MEDIA QUERIES */

/* Tablette */

@media screen and (max-width:1024px) {
    .main-header {
        padding: 10px 10% 5px 10%;
    }
}

/* MOBILE */

@media screen and (max-width:768px) {
    header {
        margin-top: -60px;
    }

    .main-header {
        padding: 10px;
        height: 70px;
    }

    .nav-header {
        gap: 10px;
        justify-content: flex-end;
    }

    .nav-header a {
        padding: 5px;
        font-size: 1rem;
    }

    .nav-categories {
        display: none;
    }
}